main{
	width: 940px;
	margin:10auto;
}

form{
	margin: 20px 0;
}

form label, form p {
	display: block;
	font-size:20px;
	margin:0 0 10px;
	color: #8B00FF
} 
h1{
	color: #540695 
}
.pagina2{
	display:inline-block;
	margin: 50px 0px;
    padding:10px 20px;
}

.pagina1{
	display:inline-block;
	margin:50px 0px;