table {
margin: 20px 0 40px;
}
thead{
   background: #836FFF;
   color: white;
   font-weight: bold;
}
td {
border: 1px solid #000000;
padding: 8px 15px;
}
main{
width: 940px;
margin: 0 auto;
}

form {
margin: 40px 0;
}

form label {
display: block;
font-size: 20px;
margin: 0 0 10px;

}
form input {
display: block;
margin: 0 0 2px;
padding: 10px 15px;
width: 50%;

}